/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }   

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}  

html {
    font-size: 16px;   
} 
    
h1{
    text-align: center;
}

/*----Contenedor principal-----*/
.contenedor{
    display: grid;
    grid-template-rows: 5rem 5rem 1fr;
    height: 100vh;
    gap: 1rem;
    overflow: hidden;

}


.contendor-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-----formulario----*/
.contenedor-formulario{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.formulario-input,
.editar-todo-input{
    border: 0.1rem solid #ccc;
    width: 15rem;
    padding: 0.4rem 0.6rem;
    border-radius: 3rem;
}



/*-------tabla---------*/

.contenedor-lista-todo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.lista-todo{
    width: 50%;
    max-width: 35rem;
}

.tabla-todo {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    min-width: 15rem;
  }
  

  .tabla-todo th{
    font-size: 0.65rem;
    text-align: center;
  }


  .tabla-todo th,
  .tabla-todo td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }

  .tabla-todo td{
    text-align: left;
  }
  
  .tabla-todo th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .boton-actuatabla-todo tr:hover {
    background-color: #f9f9f9;
  }
  
  .tabla-todo tr:nth-child(even) {
    background-color: #f0f0f0;
  }

  .descripcion-todo{
    min-width: 12rem;
  }
  
  .boton-actualizar,
  .boton-eliminar,
  .boton-guardar-cambios,
  .boton-cancelar,
  .boton-agregar{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 2px;
    background-color: #4CAF50;
    color: white;
    width: 40%;
    font-size: 0.8rem;
    text-align: center;
    width: 5rem;
  }
  

  .boton-agregar{
    background-color: mediumorchid;
    color: white;
  }

  .boton-eliminar {
    background-color: #f44336;
    color: white;
  }

  .boton-cancelar{
    background-color: #f44336;
  }
  
  .boton-cancelar:hover{
    background-color: #FFA726;
  }
  
  .boton-actualizar,
  .boton-guardar-cambios:hover {
    background-color: #45a049;
  }
  
  .boton-eliminar:hover {
    background-color: #da190b;
  }

.completado{
    text-decoration: line-through;
 }